main, footer {
    margin: 0 10%;
}

p {
    color: var(--tint-color);
    text-align: center;
    font-size: 20px;
}

h6 {
    color: var(--tint-color);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-size:  42px; 
    text-align: center;
    line-height: 200%;
    margin-top: 40px;
}

.inputs {
    color: var(--primary-color-s);
}
.git-btn {
    color: var(--white-color);
    background-color: var(--primary-color);
    padding : 11px;
    width: 35%;
    border-radius: 7px;
    border-color: var(--primary-color-t);
    margin: 12px;
    font-size: 16px;
    font-weight:700;
}

.git-text {
    margin-bottom: 5%;
}

input, textarea {
    padding: 18px;
    width: 30%;
    border-radius: 7px;
    border-color: var(--primary-color-t);
    margin: 12px;
    font-size: 18px;
    color: var(--primary-color-s);
}


input::placeholder, textarea::placeholder {
    color: var(--primary-color-s);
    opacity: 0.5;
    font-size: 15px;
    
}

.git-footer {
    margin-top: 100px;
}

.git-footer p {
    font-size: 16px;
    margin-bottom: 20px;
}