.lm-main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70vh;
    width: 70vw;
    margin: 0 auto;
    overflow: hidden; /* ensures nothing overflows */
    margin-bottom: 30px;
}

.lm-con-bg-img {
    position: absolute; /* Make image container fill the .lm-main */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lm-con-bg-img img {
    width: 95%;
    height: 90%;
    object-fit: cover; /* ensures it covers the area and is centered */
    filter: blur(2px) brightness(0.7);
    border-radius: 30px;
}

.lm-con-main-text {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4;
}

.lm-con-main-text h2 {
    font-size: 35px;
    margin-bottom: 25px;
    line-height: 1.4;

}

.lm-con-main-text p {
    font-size: 18px;
    
}

.lm {
    margin: 0 29rem;
}

.mission h5, .lm-values h5,  .lm-team-con h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.mission p {
    font-size: 18px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 60px;

}

.lm-cards {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    border: solid 0.1px var(--primary-color-t);
}

.lm-cards img {
    width: 30px;
    height: 30px;
}

.lm-cards h4 {

        font-size: 19px;
        margin-bottom: 10px;
}

.lm-cards p {

    font-size: 15px;
}

.lm-cards-con {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin: 60px;
}

.teams {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.teams img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.teams p, .teams h6 {
    text-align: center;
}

.teams h6 {
    font-size: 18px;
    margin-top: 7px;
    line-height: 1.5;
}

.teams p {

    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color-s);
}

.lm-pu {
    display: flex;
    flex-direction: column;
}

.lm-pu a {
    display: flex;
    justify-content: center;
}

.lm-pu h4 {

    font-size: 38px;
    margin-left: 50px;
    margin-bottom: 70px;
    font-weight: 600;
}

.lm-btn {
    width: 140px;
    height: 49px;
    align-self: center;
    border-radius: 7px;
    background-color: var(--primary-color);
    margin-bottom: 90px;

}

.lm-team-con h4 {
    margin-bottom: 40px;
}

footer {
    margin-bottom: 25px;
}